<h2>Edit <%= @book.title %></h2>

<form method="POST" action="/books/<%= @book.id %>">
    <label for="title">Title:</label>
    <input type="text" name="title" value="<%= @book.title %>">

    

    

    <input type="submit" value="Update Book">

</form>

<p><a href="/books">Back to all books</a></p>

<p><a href="/">Back to main page</a></p>