<div>

<p><a href="/books/new">Add new book</a></p>
<hr />


<% @books.each do |book|  %>
    <p><strong>Title: <%= book.title()  %></strong></p>
    <p>Stock level: <%= book.stock_level()  %></p>    
    <p><a href="books/<%= book.id %>">Book Details</a></p>
    <hr />
<% end %>

<p><a href="/">Back to main page</a></p>

</div>
