<!DOCTYPE html>
<html>
<head>
  <title>Dave's Bookstore</title>

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

</head>
<body>
<header>

<h1 class="main-heading">Dave&#x2019;s emporium of books</h1>

</header>
<main>
  <%= yield %>
  </main>
</body>
</html>