<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  
</head>
<body>
<main>
  <nav>
  </nav>
  <%= yield %>
  </main>
</body>
</html>