header {
    padding:4rem;
    background-image: url(/images/header.jpg);}

.main-heading {

    font-size: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


h1, h2, p {    font-family: 'Roboto', sans-serif;
}

main {
    padding: 1rem 4rem;
}

body {
        background-image: url(/images/background.jpg);}
}

.in-stock {
}
a {
	background-color: red;
  box-shadow: 0 2px 0 darkred;
  color: white;
  padding: 0.5em 1.5em;
  position: relative;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.low-stock {
    background-color:rgb(113, 159, 174);
    padding:0.2rem;

}

.out-of-stock {
    color:white;
    background-color: darkred;
    padding:0.2rem;
}



a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

h2{
    padding-bottom: 1em;
}

.books-wrapper {
    padding-bottom: 1em;
}

.authors-list {
    line-height: 2em;
}

footer {
    padding: 4rem 0 0 4rem;
}