header {
    padding:4rem;
    background-image: url(/images/header.jpg);}

.main-heading {

    font-size: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}




body {


}
.low-stock {

    background-color: darkcyan;
}

.out-of-stock {

    background-color: darkred;
}

.in-stock {
}