header {
    padding:4rem;
    background-image: url(/images/header.jpg);
    background-size: cover;
    width:100vw;}

.main-heading {

    font-size: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


h1, h2, p, a, ul, li, form{
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 1rem 4rem;
}

body {
        background-image: url(/images/background.jpg);
        background-size: 0fr;
}

.in-stock {
}
a {
	background-color: red;
  box-shadow: 0 2px 0 darkred;
  color: white;
  padding: 0.5em 1.5em;
  position: relative;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.low-stock {
    background-color:rgb(113, 159, 174);
    padding:0.2rem;

}

.out-of-stock {
    color:white;
    background-color: darkred;
    padding:0.2rem;
}

a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

h2{
    padding-bottom: 1em;
}

.books-wrapper {
    padding: 0.5em 1em 0.5em 1em;
    max-width: 60vw;
    background-color: lightcyan;

}

.author-name {
    font-size: 1.25rem;
  }
  
  li {
    
    list-style: none;
  }


.authors-list {
    line-height: 2em;
}

footer {
    padding: 4rem 0 0 4rem;
}

.book-spacer{
    padding: 0.5rem;
    background:rgba(255,255,255, 0.5);
}

.filters {
    text-align:right;
}

p strong {
    font-size: 1.5rem;
    }

.author-details{
        font-family: Roboto;
}