<div>

<a href="/authors/new">Add new author</a>

<br />

<ul>
    <% @authors.each do |author|  %>
        <li class="authors-list">
        <p class="author-name">Name: <strong><%= author.name()  %> </strong></p>
        <p><a href="/authors/<%= author.id %>">Author Details</a></p>
        </li>
    <% end %>
</ul>

<br />


</div>
