<div>

<p><a href="/authors/new">Add new author</a></p>
<br />

<ul>
    <% @authors.each do |author|  %>
        <li class="authors-list">
        <p>Name: <strong><%= author.name()  %> </strong></p>
        <p><a href="/authors/<%= author.id %>">Author Details</a></p>
        </li>
    <% end %>
</ul>

<br />

<p><a href="/">Back to main page</a></p>


</div>
