<p><a href="/authors">Back to authors</a></p>

<h1>Author details</h1>

<ul>
  <li class="author-details">Name: <%= @author.name %></li>
  <br />
  <li><a href="/authors/<%= @author.id %>/edit">Edit Author Details</a></li>
  <li>
   <br />
  <form method="post" action="/authors/<%= @author.id %>/delete">
  <input type="submit" value="Delete"/></li>
</ul>

